::-webkit-scrollbar{
    display: none;
}
@font-face /*perintah untuk memanggil font eksternal*/
  {
    font-family: 'flying-debris'; /*memberikan nama bebas untuk font*/
    src: url('../asset/font/flying-debris/Flying-Debris.otf');/*memanggil file font eksternalnya di folder nexa*/
  }
body{
    margin: 0;
    padding: 0;
    /* background-color: #eeebe8; */
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a{
    text-decoration: none;
    color: white;
    animation-duration: 500ms;
    cursor: pointer;
}
.nav-container{
    
    background-color: #161717;
    display: grid;
    align-items: center;
    width: 100%;
    position: fixed;
}
.navbar{
    padding: 10px 20px;
    height: 4rem;
    color: white;
    display: flex;
    justify-content: space-between;
}
.navbar ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding-bottom: 0.5rem;
    animation-duration: 500ms;
    cursor: pointer;
}
.navbar ul li a:hover{
    text-decoration: none;
    color: white;
    padding-bottom: 0.5rem;
    animation-duration: 500ms;
    border-bottom: solid 1px;
    border-color: white;
}
.navbar ul li .active{
    padding-bottom: 0.5rem;
    animation-duration: 500ms;
    border-bottom: solid 1px;
    border-color: white;
}

.hero{
    width: 100%;
    height: 60vh;
    color: white;
    background-position-y: calc(40%);
    background-position-x: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero .hero-content{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: grid;
    align-items: center;
    justify-items: center;
}

.hero .hero-content h1{
   font-size: 48px;
    letter-spacing: 6px;
    font-family: flying-debris;
}
.main-container h1{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 4px;
}
.main-container p{
    text-align: center;
    margin: 20px 20px;
    letter-spacing: 1px;
    font-size: 18px;
}
.centerize{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 80%;
}
.new-section{
    margin: 6rem  0;
}
.dot-start{
    display: grid;
    align-items: start;
    justify-items: start;
}

.dot{
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 500px;
}
.timeline-container{
    display: flex;  
    flex-direction: column; 
    gap: 2rem;
}
.timeline-items{
    display: flex; 
    gap: 6rem; 
    justify-items: center; 
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 kolom */
    gap: 1rem;
}
.grid-items{
    grid-column: span 1;
}

.card-items{
    height: 22rem;
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card-items div{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 25%;
    width: 100%;
    color: white;
    margin-top: auto;
    padding: 0.5rem;
    overflow: hidden;
  }
  .card-items div p {
    color: #484d50;
    overflow: hidden;
    text-align: start;
     display: -webkit-box;
     -webkit-line-clamp: 2; /* number of lines to show */
             line-clamp: 2; 
     -webkit-box-orient: vertical;
    
  }
  .card-items img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;  }
@media (max-width: 1024px){
    .centerize .main-container .new-section .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 4 kolom */
        gap: 1rem;
    }
}